anyio==3.4.0
click==8.0.3
contextlib2==21.6.0
contextvars==2.4
dataclasses==0.8
fastapi==0.70.1
Flask==2.0.2
idna==3.3
immutables==0.16
importlib-metadata==4.8.3
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
pkg-resources==0.0.0
pydantic==1.8.2
sniffio==1.2.0
starlette==0.16.0
typing-extensions==4.0.1
Werkzeug==2.0.2
zipp==3.6.0
